@{
    ViewData["Title"] = "Home Page";
}
@if (!string.IsNullOrWhiteSpace((string)TempData["Email"]))
{
    <div style="display:none;" id="emailFormat">
        @TempData["Email"]
    </div>
}
@if (!string.IsNullOrWhiteSpace((string)TempData["Register"]))
{
    <div style="display:none;" id="verifyEmail">
        @TempData["Register"]
    </div>
}
@if (!string.IsNullOrWhiteSpace((string)TempData["Verify"]))
{
    <div style="display:none;" id="successVerify">
        @TempData["Verify"]
    </div>
}
@if (!string.IsNullOrWhiteSpace((string)TempData["AdminInfo"]))
{
    <div style="display:none;" id="adminInfo">
        @TempData["AdminInfo"]
    </div>
}
<!-- welcome to pages start -->
<div class="bg-blue">
 
    <div class="nav container d-flex space-between">
        <div>
            <div class="welcome-section">
                <p class="lined"><i>Welcome</i></p>
                <h1 class="unique-text">Books are uniquely portable magic</h1>
                <p>
                    There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form.
                </p>
            </div>
            <div class="mar-30 d-flex align-center blue-section">
                <button class="btn">
                    <a class="blue" href="#">Order Today</a>
                </button>
                <a class="underline" href="#">Read Free Demo</a>
            </div>
            <div>
                <div class="pages-cont d-flex">
                    <div class="bulleted">
                        <h4>Pages:</h4>
                        <p class="gray">586 Pages</p>
                    </div>
                    <div class="bulleted">
                        <h4>Author:</h4>
                        <p class="gray">Issac Newton</p>
                    </div>
                    <div class="bulleted">
                        <h4>Category:</h4>
                        <p class="gray">Dram</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img class="bookLight"
                 src="../assets/img/book3.jpg"
                 alt="The Dark Light Book cover" />
        </div>
    </div>
</div>
<!-- welcome to pages end -->
<!-- author`s books start -->
<div class="books-section">
    <div class="container">
        <h2 class="blue line-sm includes-text">Author’s Book Includes</h2>
        <div class="d-flex space-between books-section">
            <div class="swiper book-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="d-flex blue books-sec-cont">
                            <img class="books-small"
                                 src="../assets/img/book5.webp"
                                 alt="Atomic one`s book cover" />
                            <div class="books-small-text">
                                <h3>Atomic One`s</h3>
                                <p>
                                    Many variations of passages of Lorem Ipsum willing araise
                                    alteration in some form.
                                </p>
                                <div class="d-flex blue books-pages-cont">
                                    <div class="bulleted">
                                        <h4>Pages:</h4>
                                        <p class="gray">586 pages</p>
                                    </div>
                                    <div class="bulleted">
                                        <h4>Length:</h4>
                                        <p class="gray">10 hours</p>
                                    </div>
                                </div>
                                <button class="btn-no-bg">
                                    <a class="blue" href="#">Order Today</a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="d-flex blue books-sec-cont">
                            <img class="books-small"
                                 src="../assets/img/book6.webp"
                                 alt="The dark light book cover" />
                            <div class="books-small-text">
                                <h3>The Dark Light</h3>
                                <p>
                                    Many variations of passages of Lorem Ipsum willing araise
                                    alteration in some form.
                                </p>
                                <div class="d-flex blue books-pages-cont">
                                    <div class="bulleted">
                                        <h4>Pages:</h4>
                                        <p class="gray">586 pages</p>
                                    </div>
                                    <div class="bulleted">
                                        <h4>Auto:</h4>
                                        <p class="gray">10 hours</p>
                                    </div>
                                </div>
                                <button class="btn-no-bg">
                                    <a class="blue" href="#">Order Today</a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="d-flex blue books-sec-cont">
                            <img class="books-small"
                                 src="../assets/img/book7.webp"
                                 alt="The dark light book cover" />
                            <div class="books-small-text">
                                <h3>The Dark Light</h3>
                                <p>
                                    Many variations of passages of Lorem Ipsum willing araise
                                    alteration in some form.
                                </p>
                                <div class="d-flex blue books-pages-cont">
                                    <div class="bulleted">
                                        <h4>Pages:</h4>
                                        <p class="gray">586 pages</p>
                                    </div>
                                    <div class="bulleted">
                                        <h4>Length:</h4>
                                        <p class="gray">10 hours</p>
                                    </div>
                                </div>
                                <button class="btn-no-bg">
                                    <a class="blue" href="#">Order Today</a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="d-flex blue books-sec-cont">
                            <img class="books-small"
                                 src="../assets/img/book2.jpg"
                                 alt="The dark light book cover" />
                            <div class="books-small-text">
                                <h3>The Dark Light</h3>
                                <p>
                                    Many variations of passages of Lorem Ipsum willing araise
                                    alteration in some form.
                                </p>
                                <div class="d-flex blue books-pages-cont">
                                    <div class="bulleted">
                                        <h4>Pages:</h4>
                                        <p class="gray">586 pages</p>
                                    </div>
                                    <div class="bulleted">
                                        <h4>Length:</h4>
                                        <p class="gray">10 hours</p>
                                    </div>
                                </div>
                                <button class="btn-no-bg">
                                    <a class="blue" href="#">Order Today</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- author`s books end -->
<!-- about author start -->
<div class="bg-light-blue">
    <div class="container blue d-flex space-between author-section">
        <div>
            <img class="author-image"
                 src="../assets/img/Author.jpg"
                 alt="Author John Abraham" />
        </div>

        <div class="about-author-section">
            <h2 class="about-author-underline blue">About Author</h2>
            <p class="gray">
                All the Lorem Ipsum generators on the Internet tend to repeated
                predefined chunks as necessary, making this the first true value
                generator on the Internet. It uses a dictionary of over 200 Latin
                words, combined with a handful.
            </p>
            <div class="yellow-border-section d-flex space-between">
                <div class="border-right-yellow">
                    <h2>02</h2>
                    <p class="gray">Books Published</p>
                </div>
                <div class="border-right-yellow">
                    <h2>4.5</h2>
                    <p class="gray">User Reviews</p>
                </div>
                <div>
                    <h2>04</h2>
                    <p class="gray">Best seller awards</p>
                </div>
            </div>
            <div class="visit-card-container">
                <img class="visit-card"
                     src="../assets/img/visit-card.png"
                     alt="visit card" />
            </div>
        </div>
    </div>
</div>
<!-- about author end -->
<!-- trusted by the best start -->
<div class="trusted d-flex">
    <div class="container">
        <h2 class="trusted-text blue">Trusted By The Best</h2>
        <div class="trusted-brands blue d-flex space-around align-center">
            <div class="swiper brand-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="d-flex trusted-card">
                            <img class="trusted-brands-small"
                                 src="../assets/img/Logo-amazen.png"
                                 alt="Amazen logo" />
                            <h3>Amazen Corp</h3>
                            <p>
                                A long established fact that a who looking at its layout.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="d-flex trusted-card">
                            <img class="trusted-brands-small"
                                 src="../assets/img/Logo-megan.png"
                                 alt="Megan books logo" />
                            <h3>Megan Books</h3>
                            <p>
                                A long established fact that a who looking at its layout.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="d-flex trusted-card">
                            <img class="trusted-brands-small"
                                 src="../assets/img/Logo-megan2.png"
                                 alt="Los books logo" />
                            <h3>Los Books</h3>
                            <p>
                                A long established fact that a who looking at its layout.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="d-flex trusted-card">
                            <img class="trusted-brands-small"
                                 src="../assets/img/Logo-urban.png"
                                 alt="Urban lib logo" />
                            <h3>Urban Lib</h3>
                            <p>
                                A long established fact that a who looking at its layout.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="d-flex trusted-card">
                            <img class="trusted-brands-small"
                                 src="../assets/img/Logo-amazen.png"
                                 alt="Amazen logo" />
                            <h3>Amazen Corp</h3>
                            <p>
                                A long established fact that a who looking at its layout.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="d-flex trusted-card">
                            <img class="trusted-brands-small"
                                 src="../assets/img/Logo-megan.png"
                                 alt="Megan books logo" />
                            <h3>Megan Books</h3>
                            <p>
                                A long established fact that a who looking at its layout.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="d-flex trusted-card">
                            <img class="trusted-brands-small"
                                 src="../assets/img/Logo-megan2.png"
                                 alt="Los books logo" />
                            <h3>Los Books</h3>
                            <p>
                                A long established fact that a who looking at its layout.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="d-flex trusted-card">
                            <img class="trusted-brands-small"
                                 src="../assets/img/Logo-urban.png"
                                 alt="Urban lib logo" />
                            <h3>Urban Lib</h3>
                            <p>
                                A long established fact that a who looking at its layout.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- trusted by the best end -->
<!-- get copy start -->
<div class="bg-blue white">
    <div class="get-copy container d-flex space-between align-center">
        <div class="get-copy-container">
            <h2 class="get-copy-text">Get Book Copy Today!</h2>
            <p class="gray">
                This the first true value generator on the Internet. It uses alphas
                dictionary of over 200 Latin words.
            </p>
            <button class="btn-no-bg-white"><a href="#">Order Today</a></button>
        </div>
        <div>
            <img class="magazine"
                 src="../assets/img/magazine.png "
                 alt="magazine and coffe cup image" />
        </div>
    </div>
</div>
<!-- get-copy end -->
<!-- what you`ll learn start -->
<div>
    <div class="container learn-cont">
        <h2 class="learn blue">What will you learn?</h2>
        <div class="subj-container d-flex space-between">
            <div class="subjects d-flex">
                <div class="subject-card bg-light-blue blue">
                    <h3 class="yellow-circle">01</h3>
                    <h5>
                        Use HDFS & Map Reduce for storing & analyzing data at scale.
                    </h5>
                </div>
                <div class="subject-card bg-light-blue blue">
                    <h3 class="yellow-circle">02</h3>
                    <h5>
                        Consume streaming data using Spark Streaming, Flink, and Storm.
                    </h5>
                </div>
                <div class="subject-card bg-light-blue blue">
                    <h3 class="yellow-circle">03</h3>
                    <h5>
                        Choose an appropriate data storage technology for your
                        application
                    </h5>
                </div>
                <div class="subject-card bg-light-blue blue">
                    <h3 class="yellow-circle">04</h3>
                    <h5>
                        Analyze non-relational data using HBase, Cassandra, and MongoDB.
                    </h5>
                </div>
            </div>
            <div class="learn-image">
                <img class="book-reader-img"
                     src="../assets/img/book-reader.jpg"
                     alt="woman reading the book" />
            </div>
        </div>
    </div>
</div>
<!-- what you`ll learn end -->
<!-- the chapter includes start -->
<div class="bg-light-blue blue">
    <div class="container">
        <h2 class="includes-text">The Chapter Includes</h2>
        <div class="chapters d-flex align-center">
            <div class="chapter-card">
                <h3>Chapter- 01 Get Started Intro</h3>
                <h4 class="gray">
                    Making this the first true value generator on the Internet. It of
                    over 200 Latin words, combined with a handful.
                </h4>
                <div class="chapters-details d-flex align-center">
                    <h5 class="bulleted gray"><b class="blue">Pages: </b>85pages</h5>
                    <h5 class="bulleted gray">
                        <b class="blue">Length: </b>1 hour 15 mins
                    </h5>
                </div>
            </div>
            <div class="chapter-card">
                <h3>Chapter- 02 Create a Massive Content</h3>
                <h4 class="gray">
                    Making this the first true value generator on the Internet. It of
                    over 200 Latin words, combined with a handful.
                </h4>
                <div class="chapters-details d-flex align-center">
                    <h5 class="bulleted gray"><b class="blue">Pages: </b>85pages</h5>
                    <h5 class="bulleted gray">
                        <b class="blue">Length: </b>1 hour 15 mins
                    </h5>
                </div>
            </div>
            <div class="chapter-card">
                <h3>Chapter- 03 Maintaining the Creative Arcs</h3>
                <h4 class="gray">
                    Making this the first true value generator on the Internet. It of
                    over 200 Latin words, combined with a handful.
                </h4>
                <div class="chapters-details d-flex align-center">
                    <h5 class="bulleted gray"><b class="blue">Pages: </b>85pages</h5>
                    <h5 class="bulleted gray">
                        <b class="blue">Length: </b>1 hour 15 mins
                    </h5>
                </div>
            </div>
            <div class="chapter-card">
                <h3>Chapter- 04 The Conclusion</h3>
                <h4 class="gray">
                    Making this the first true value generator on the Internet. It of
                    over 200 Latin words, combined with a handful.
                </h4>
                <div class="chapters-details d-flex align-center">
                    <h5 class="bulleted gray"><b class="blue">Pages: </b>85pages</h5>
                    <h5 class="bulleted gray">
                        <b class="blue">Length: </b>1 hour 15 mins
                    </h5>
                </div>
            </div>
        </div>
        <div class="free-trial d-flex center">
            <button class="btn">Start a 15-Days Free Trail</button>
            <h6 class="gray">Short description about each chapter</h6>
            <h6 class="gray">
                <a class="blue" href="#">Have any questions?</a> Contact us
            </h6>
        </div>
    </div>
</div>
<!-- chapter includes end -->
<!-- what readers say start -->
<div class="rating-section">
    <div class="d-flex container space-between blue reader-rating-cont">
        <div class="w-300">
            <h2 class="w-180 readers-say">What Readers Say About the Book</h2>
            <h4 class="gray readers-say-p">
                If you are going to use a passage of Lorem Ipsum, you need to be
                sure there isn't anything embarrassing hidden in the middle of text.
                All the Lorem Ipsum generators.
            </h4>

            <div class="circles d-flex align-center">
                <div class="small-circle"></div>
                <div class="small-circle"></div>
                <div class="small-circle"></div>
                <div class="small-circle"></div>
                <div class="small-circle"></div>
                <h5 class="blue">(4.8/5)</h5>
            </div>
            <h5 class="blue rating-text">Overall Customer Ratings</h5>
        </div>

        <div class="cards d-flex">
            <div class="readers-img-container cards d-flex center">
                <div class="swiper feedback-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="reader-card bg-blue">
                                <div class="reader-img-header">
                                    <img src="../assets/img/martin.png" alt="Martin png" />
                                    <div class="reader-card-header">
                                        <h2>Martin Philips</h2>
                                        <div class="circles d-flex align-center">
                                            <div class="small-circle"></div>
                                            <div class="small-circle"></div>
                                            <div class="small-circle"></div>
                                            <div class="small-circle"></div>
                                            <div class="small-circle"></div>
                                            <h5 class="blue">(4.8/5)</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="reader-img-footer">
                                    <h2 class="message-title">"Awesome Impact"</h2>
                                    <p class="message">
                                        All the Lorem Ipsum generators on the Internet tend to
                                        repeat willings predefined chunks value.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="reader-card bg-blue">
                                <div class="reader-img-header">
                                    <img src="../assets/img/martin.png" alt="Martin png" />
                                    <div class="reader-card-header">
                                        <h2>Martin Philips</h2>
                                        <div class="circles d-flex align-center">
                                            <div class="small-circle"></div>
                                            <div class="small-circle"></div>
                                            <div class="small-circle"></div>
                                            <div class="small-circle"></div>
                                            <div class="small-circle"></div>
                                            <h5 class="blue">(4.8/5)</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="reader-img-footer">
                                    <h2 class="message-title">"Awesome Impact"</h2>
                                    <p class="message">
                                        All the Lorem Ipsum generators on the Internet tend to
                                        repeat willings predefined chunks value.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- what readers say end -->
<!-- aricles start -->
<div class="bg-light-blue articles blue">
    <div class="container d-flex align-center articles-container">
        <h3 class="article-text">Articles & Resources</h3>
        <div class="article-img-container d-flex">
            <div class="article-card d-flex">
                <img src="../assets/img/article1.png" alt="girl reading book" />
                <div class="article-text-container">
                    <h4>
                        "Energy efficiency" hidroterapiya və ya üzgüçülük təklif edir
                    </h4>
                    <h5 class="gray">
                        The point of using Lorem Ipsum hiter of that using making it
                        look like others readable will get end.
                    </h5>
                    <div class="d-flex space-between align-center article-card-details">
                        <h6><a class="blue" href="#">Read More</a></h6>
                        <h6>Author - 07.07.2023</h6>
                    </div>
                </div>
            </div>
            <div class="article-card d-flex">
                <img src="../assets/img/article2.png" alt="girl reading book" />
                <div class="article-text-container">
                    <h4>
                        "Energy efficiency" hidroterapiya və ya üzgüçülük təklif edir
                    </h4>
                    <h5 class="gray">
                        The point of using Lorem Ipsum hiter of that using making it
                        look like others readable will get end.
                    </h5>
                    <div class="d-flex space-between align-center article-card-details">
                        <h6><a class="blue" href="#">Read More</a></h6>
                        <h6>Author - 07.07.2023</h6>
                    </div>
                </div>
            </div>
            <div class="article-card d-flex">
                <img src="../assets/img/article3.png" alt="girl reading book" />
                <div class="article-text-container">
                    <h4>
                        "Energy efficiency" hidroterapiya və ya üzgüçülük təklif edir
                    </h4>
                    <h5 class="gray">
                        The point of using Lorem Ipsum hiter of that using making it
                        look like others readable will get end.
                    </h5>
                    <div class="d-flex space-between align-center article-card-details">
                        <h6><a class="blue" href="#">Read More</a></h6>
                        <h6>Author - 07.07.2023</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- articles end -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    const verifyEmail = document.querySelector("#verifyEmail");
    const successVerify = document.querySelector("#successVerify")
    const adminInfo = document.querySelector("#adminInfo");
    const emailFormat = document.querySelector("#emailFormat");
    if (verifyEmail != undefined) {
        const message1 = verifyEmail.innerHTML;
        if (message1 != "") {
            Swal.fire({
                title: `${message1}`,
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                }
            })
        }
    }
    if (successVerify != undefined) {
        const message = successVerify.innerHTML;
        if (message != "") {
            Swal.fire(
                `${message}`,
                'You clicked the button!',
                'success'
            )
        }
    }
    if (successVerify != undefined) {
        const message = successVerify.innerHTML;
        if (message != "") {
            Swal.fire(
                `${message}`,
                'You clicked the button!',
                'success'
            )
        }
    }
    if (adminInfo != undefined) {
        const message = adminInfo.innerHTML;
        if (message != "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: `${message}`,
            })
        }
    }
    if (emailFormat != undefined) {
        const message = emailFormat.innerHTML;
        if (message != "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: `${message}`,
            })
        }
    }

</script>