@model Author 

<div class="container">
	<form method="post" enctype="multipart/form-data">
	<div class="form-group">
		    <label asp-for="Name" >Name:</label>
			<input type="text" class="form-control" asp-for="Name" />
			<span asp-validation-for="Name" class="text text-danger"></span>
	</div>
		<div class="form-group">
			<label asp-for="FormFile"></label>
			<input accept="image/*" type="file" class="form-control" asp-for="FormFile">
			<span class="text text-danger" asp-validation-for="FormFile"></span>
		</div>
			@Html.AntiForgeryToken()
	<button type="submit">Create</button>
	</form>
</div>
